<!DOCTYPE html>
<html lang="en">

<head>
    <% include head.ejs %>
</head>

<body class="">
  <div class="wrapper ">
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <a class="navbar-brand" href="#pablo">Login Here</a>
              </div>
              </div>
              </nav>
          <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <form action="/login" method="post">
                    <div>
                        <label>Username:</label>
                        <input type="text" name="username" class="form-control"/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="password" class="form-control"/>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">Log in</button>
                      </div>
                </form>
                 <div class="col-md-3">
                       <a href="/signup" class="btn btn-primary">Register</a>
                        <!-- <button type="submit" class="btn btn-primary">Sign Up</button> -->
                      </div>
          </div>
        </div>
      </div>
      </div>
      <% include footer.ejs %>
</body>

</html>



