<!DOCTYPE html>
<html lang="en">

<head>
    <% include head.ejs %>
</head>

<body class="">
  <div class="wrapper ">
    <div class="main-panel">
        
          <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
               <div class="jumbotron text-center">
                 <a href="/login" class="btn btn-lg btn-success">Login</a>
                 <a href="/signup" class="btn btn-lg btn-info">Register</a>
                </div>
                                <!-- <div class="col-md-3">
                  <button type="submit" class="btn btn-primary">Log in</button>
                  </div>
              </div> -->
        </div>
      </div>
      </div>
    </div>
  </div>
      
</body>

</html>



